<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Basic Page Needs -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Title -->
        <title>Steve &mdash; <%= title %></title>
    </head>

    <body id="page-top" data-spy="scroll">
        <!-- App Wrapper -->
        <div class="app-wrapper">
            <%- body %>
        </div>
        <!-- .app-wrapper -->
    </body>
</html>